#sidebar .sidebar-profile .sidebar-profile-name,
#sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-bio,
#sidebar[data-behavior="4"] .sidebar-profile .sidebar-profile-bio {
  font-weight: bold;
  text-shadow: 1px 1px #ce5c5c;
}

#sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-job,
#sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-location,
#sidebar[data-behavior="4"] .sidebar-profile .sidebar-profile-job,
#sidebar[data-behavior="4"] .sidebar-profile .sidebar-profile-location {
  font-weight: bold;
  text-shadow: 1px 1px #ce5c5c;
  width: auto;
}

#sidebar[data-behavior="1"] ul.sidebar-buttons,
#sidebar[data-behavior="4"] ul.sidebar-buttons {
  font-weight: bold;
  text-shadow: 1px 1px #ce5c5c;
  width: auto;
}

#sidebar[data-behavior="1"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-desc,
#sidebar[data-behavior="4"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-desc {
  padding-top: .2rem;
}

.post-header-cover {
  height: 50%;
}
